.input-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .icon {
    position: absolute;
    top: 25px;
    left: 90%;
    cursor: pointer;
  }
}

input:focus {
  outline: none;
}