
* {
    box-sizing: border-box !important;
}

html,
body,
#root {
    height: 100%;
    font-family: 'RobotoRegular', serif;
}


@font-face {
    font-family: RobotoRegular;
    src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("assets/fonts/Roboto-Bold.ttf");
    font-weight: 800;
}